

<!DOCTYPE html>

<!-- define angular app -->
<html>


</head>

<!-- define angular controller -->
<body >
<hr class="container">

<h1>Service Provider Revenue Calculator</h1>

</div>
<hr>
<br>
<br>
<form  ng-controller="home" method="POST" action="/uploadFile" enctype="multipart/form-data">


    </div>
    </div>
    <div class="col-md-4">
       <!-- Month: <input tyspe="text" class="form-control" name="month"><br /> <br />-->
        File to upload: <input type="file"   name="file"><br />
        <input type="submit" class="btn btn-success" value="Upload">
    </div>

</form>


</body>

</html>
